body{
    background-color: pink;
}
legend{
    text-align: center;
}
a{
    background-color: blanchedalmond;
    color: brown;
}
input:focus{
    background-color:turquoise;
    text-align: center;
}
textarea:focus{
    background-color: palevioletred;
    color: white;
    text-align:left;
}
