body {
  background-color: whitesmoke;
}
nav {
  background-color: rgb(117, 49, 40);
  color: white;
  word-spacing: 35px;
  text-align: center;
}
h1 {
  color: rgb(117, 49, 40);
}
marquee {
  background-color: rgb(117, 49, 40);
  height: 2.5rem;
  color: white;
}
hr {
  border: 0.5rem solid burlywood;
}
hr ~ p {
  padding: 10px;
}
h2 {
  text-align: center;
}
a {
  color: white;
  font-variant: small-caps;
  text-decoration: none;
}
a:hover {
  font-size: large;
  color: red;
}
:target {
  background-color: aquamarine;
}
.second {
  background-color: orange;
}
li:first-child {
  text-decoration: underline;
}
li:last-child {
  text-decoration: underline;
}
hr + p::first-line {
  color: whitesmoke;
}
p:nth-of-type(5)::first-letter {
  color: gray;
  float: left;
  margin: 5px;
  padding: 5px;
  background-color: rgb(117, 49, 40);
}
h5::before {
  content: "\2706";
  font-size: larger;
}
hr + h3 {
  font-variant: small-caps;
  color: red;
}
div {
  text-decoration: underline;
  color: red;
  text-align: center;
  font-size: xx-large;
}
h3 > a:hover {
  background-color: black !important;
  color: white;
}
div + p {
  line-height: 1.5;
}
h3:first-child {
  color: red;
}
div + p::first-letter {
  color: gray;
  float: none;
  margin: 6.7px;
  padding: 5px 5px;
  background-color: rgb(117, 49, 40);
  font-size: x-large;
  font-weight: lighter !important;
}
p:nth-child(3n + 1) {
  font: italic bold 12px Georgia, serif;
  text-transform: capitalize;
}
.firstd {
  text-decoration: none;
  color: black;
  background-image: url(../Asset/grad2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
.navs {
  background-color: slategray !important;
  color: saddlebrown;
  font-style: oblique;
}
aside {
  float: right;
  word-spacing: 15px;
  color: gold;
}
aside a {
  color: gold;
}
aside a:hover {
  text-decoration: underline;
  color: gold;
}
aside h1 {
  font-size: xx-large;
  color: gold !important;
}
footer {
  background-color: purple;
  border: 20px solid purple;
  margin: -7.8px;
  color: gold;
}
h3 {
  color: whitesmoke;
}
.cont {
  background-color: unset !important;
  color: gold;
}
