body{
    background-color: brown;
}
h2{
    color: blanchedalmond;
    text-align:justify;
    width: 60%;
    line-height: 1.3;

}
a{
    background-color: brown;
    color: blanchedalmond;
}