body{
    background-color: purple;
    
}
h3{
    border:8px solid yellow;
    border-radius: 4px;
    background-color: yellow;
    ;
}
div{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 70px;
    padding: 50px;
}
a{
    background-color: blanchedalmond;
    color: brown;
}