body{
    background-color: pink;
}
nav{
    background-color:blanchedalmond ;
    color: brown;
    word-spacing: 35px;
    text-align: center;
}
h1{
    background-color: blueviolet;
}
marquee{
    background-color: purple; 
    height:40px;
}
hr{
    border: 8px solid purple;
}
h2{
    text-align: center;
}
.just{
    border: 8px solid red;
}
a{
    background-color: blanchedalmond;
    color: brown;
}